langchain
langchain-huggingface
huggingface_hub
python-dotenv
streamlit
fastapi
uvicorn
sse_starlette
aiohttp
langchain_community
pypdf
langchain-text-splitters
sentence_transformers
langchain_groq
groq
cassio
pdfplumber
pyasyncore
